/* Large devices == desktops, less than 1200px */
@media (max-width: 1199.98px) {
  .container {
    max-width: 992px;
    
  }
  .hero-content h1 {
    font-size: 48px;
  }
}

/* Medium devices == tablets, less than 992px */
@media only screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
   
  }
  nav ul {
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    background: var(--white);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 70px;
    z-index: 10;
  }
  nav ul li a::before,
  nav ul li a::after {
    display: none;
  }
  .fa-search {
    display: none;
  }
  .d-none,
  .fa-shopping-cart {
    display: block;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    z-index: 20;
  }
  #hero .container {
    gap: 40px;
    flex-direction: column-reverse;
  }
  .client-logo .container {
    padding: 0;
  }
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-box h3 {
    font-size: 20px;
  }
  .single-box i {
    font-size: 50px;
  }
  .sub-menu.drop-down.closed {
    display: none;
  }
  .main-menu.translate {
    left: 0%;
  }
}

/*  Small devices == landscape phones, less than 768px */
@media (max-width: 767.98px) {
  .container {
    max-width: 578px;
     
  }
  .client-logo .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
  }
  .py-80 {
    padding: 60px 0;
  }
  .py-60 {
    padding: 40px 0;
  }
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  Extra Small devices == landscape phones, less than 575px */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
    
  }
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .client-logo .container {
    padding: 0 30px;
  }
  .section-heading {
    font-size: 34px;
  }
  .fas.fa-shopping-cart {
    display: none;
  }
  .hero-content h1{
    font-size: 34px;
  }
  .section-heading{
    font-size: 28px;
  }
}

/*  Extra Extra Small devices == landscape phones, less than 405px */
@media (max-width: 400px) {
  
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 16px;
    line-height: 25px;
  }
  .client-logo .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-heading {
    font-size: 25px;
  }
  .section-heading {
    padding-bottom: 14px;
  }
  .section-heading::before,
  .section-heading::after {
    width: 80%;
  }
  .section-heading::after {
    width: 32%;
  }
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #footer h1 {
    font-size: 20px;
  }
  #footer p {
    font-size: 14px;
  }
  .social-icons i {
    width: 40px;
    height: 40px;
    line-height: 38px;
  }
  .btn {
    padding: 13px 35px;
    font-size: 15px;
  }
  .contact-form .btn {
    padding: 10px 60px;
    font-size: 15px;
  }
}

@media (max-width:300px){
    .logo {
        font-size: 19px;
        text-align: right;
    }
}
